* {
  margin: 0;
  padding: 0;
}

a:visited {
  color: none;
}

.top-bar {
  display: flex;
  border: 1px none;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.top-bar-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Song {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

.note {
  width: 76px;
}

.github-image {
  width: 76px;
}

.my-github {
  background-color: #69eacb;
  border: 1px none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

.About-Me {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px none;
  height: 500px;
}

.Hello {
  width: 450px;
}

.personal-info {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.introduction {
  font-size: 45px;
  color: white;
}

.line {
  width: 65px;
  border: 2px solid rgba(5, 118, 124, 0.425);
}

.quote {
  line-height: 1.4;
  font-size: 20px;
  color: rgb(83, 81, 81);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 340px;
}

.project-name {
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
  font-family: Arial, Helvetica, sans-serif;
}
.project-description {
  width: 600px;
  text-align: center;

  line-height: 1.4;
  font-size: 20px;
  color: rgb(83, 81, 81);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-go-to-project {
  background: rgba(248, 213, 126, 1);
  border-radius: 10px;
  padding: 15px;
  border: 1px none;
}
.btn-go-to-project a {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}

.end {
  height: 200px;
}

body {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
}
