* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: none;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: #333;
  cursor: pointer;
}

.back-home {
  font-size: 2rem;
  border: 1px none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(100, 196, 164);
}

.back-home a {
  text-decoration: none;
  color: white;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles h2 {
  margin-bottom: 30px;
  text-decoration: underline;
  font-style: italic;
}

.img-welcome {
  width: 350px;
}

.Application-Statistics {
  display: flex;
  justify-content: space-around;
}

.Application-Statistics-box {
  /* From https://css.glass */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  width: 250px;
  height: 100px;
}

.Statistics-text {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

.Statistics-Num {
  font-size: 38px;
  color: rgb(0, 119, 255);
  margin: 0;
  text-align: center;
}

.List-Container {
  display: flex;
  align-items: center;
}

.list-of-dlls-h2 {
  margin-bottom: 30px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px;
}

table {
  width: 100%;
  box-shadow: 15px 15px #0000000d;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  background-color: rgb(100, 196, 164);
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
td,
th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
  overflow-x: scroll;
}

tr:nth-of-type(odd) {
  background-color: #94999e;
  color: #fff;
}

tr:nth-of-type(even) {
  background-color: #fff;
  color: #333;
}

.name-of-dll {
  font-weight: 800;
  overflow-x: scroll;
}

.list-of-SnapShot-h2 {
  margin-bottom: 30px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 350px;
}

.Process-Name {
  overflow-x: scroll;
}
